In [2]:
#import libraries
import numpy as np
import pandas as pd

In [25]:
#load data as dataframes
test_data = pd.read_csv('./test.csv',index_col=False)
train_data = pd.read_csv ('./train.csv', index_col=False)

In [23]:
#looking at data

In [38]:
def drop_and_purge(table,colums_to_drop):
    for col in colums_to_drop:
        try:
            del table[col]
        except KeyError as exp:
            print('colum',exp,'not found in table')
    table.dropna()

In [46]:
def quantise(table,dict_to_quantize):
    '''takes table and dict {column_name:[{value_in_table:value_to_replace_with}]}
    example:- quantise(table,{Sex:[{male:1},{female:0}]}) will replace male and female in Sex column of table with 1 and 0'''
    for val in dict_to_quantize:
        for string_to_replace in dict_to_quantize[val]:
            value_to_replace_with = dict_to_quantize[val][string_to_replace]
            table[val].replace(string_to_replace,value_to_replace_with,inplace=True)

In [39]:
#test drop_and_purge functions
coloums_to_drop = ['Name','Ticket','Cabin','PassengerId','Fare','Age']
drop_and_purge(test_data,coloums_to_drop)

key 'Name' not found in table
key 'Ticket' not found in table
key 'Cabin' not found in table
key 'PassengerId' not found in table
key 'Fare' not found in table
key 'Age' not found in table

In [41]:
print(test_data.head())

   Pclass     Sex  SibSp  Parch Embarked
0       3    male      0      0        Q
1       3  female      1      0        S
2       2    male      0      0        Q
3       3    male      0      0        S
4       3  female      1      1        S

In [47]:
quantise(test_data,{'Sex':{'male':10,'female':20}})
print(test_data)

     Pclass     Sex  SibSp  Parch Embarked
0         3    male      0      0        Q
1         3  female      1      0        S
2         2    male      0      0        Q
3         3    male      0      0        S
4         3  female      1      1        S
5         3    male      0      0        S
6         3  female      0      0        Q
7         2    male      1      1        S
8         3  female      0      0        C
9         3    male      2      0        S
10        3    male      0      0        S
11        1    male      0      0        S
12        1  female      1      0        S
13        2    male      1      0        S
14        1  female      1      0        S
15        2  female      1      0        C
16        2    male      0      0        Q
17        3    male      0      0        C
18        3  female      1      0        S
19        3  female      0      0        C
20        1    male      1      0        C
21        3    male      0      1        S
22        1  female      0      0        S
23        1    male      0      1        C
24        1  female      1      3        C
25        3    male      1      0        S
26        1  female      0      1        C
27        3    male      0      0        C
28        1    male      0      0        S
29        3    male      2      0        C
..      ...     ...    ...    ...      ...
388       3    male      0      0        Q
389       3    male      3      1        S
390       1    male      0      0        S
391       1  female      0      1        S
392       3    male      0      2        S
393       2    male      0      0        S
394       3    male      3      1        S
395       1  female      1      0        S
396       3    male      0      0        Q
397       1  female      1      1        C
398       3    male      0      0        S
399       3    male      0      0        Q
400       1  female      0      0        S
401       2    male      1      0        S
402       1  female      0      1        C
403       1    male      0      0        S
404       1    male      1      0        C
405       2    male      0      0        C
406       2    male      1      0        S
407       1    male      1      1        C
408       3  female      0      0        Q
409       3  female      1      1        S
410       3  female      0      0        Q
411       1  female      1      0        Q
412       3  female      0      0        S
413       3    male      0      0        S
414       1  female      0      0        C
415       3    male      0      0        S
416       3    male      0      0        S
417       3    male      1      1        C

[418 rows x 5 columns]